{% extends "PingPongPlayerBundle::layout.html.twig" %}

{% block content %}
    <h2>Players</h2>
    <p><a href="{{ path('players_add') }}" title="Add player" class="btn">Add player</a></p>

    <table summary="player_list" class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Department</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>
                    {% include 'PingPongPlayerBundle:Elements:player-avatar.html.twig' with {'player': player} %}
                    <a href="{{ path('players_edit', {'id':player.id}) }}" title="View">
                    {{ player.firstName }}
                        {% if player.nickName != '' %}
                            "{{ player.nickName }}"
                        {% endif %}
                    {{ player.lastName }}
                    </a>
                </td>
                <td>{{ player.department.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
